In [6]:
import pandas as pd
!dir movielens

 Volume in drive C is Windows
 Volume Serial Number is 2826-0B9F

 Directory of C:\Users\siva.mulagala\Documents\Jupyter Notes\Notes\Week-4\movielens

06/27/2019  03:53 PM    <DIR>          .
06/27/2019  03:53 PM    <DIR>          ..
06/27/2019  03:53 PM       323,544,381 genome-scores.csv
06/27/2019  03:53 PM            18,103 genome-tags.csv
06/27/2019  03:53 PM           570,090 links.csv
06/27/2019  03:53 PM         1,397,542 movies.csv
06/27/2019  03:53 PM       533,444,411 ratings.csv
06/27/2019  03:53 PM            10,261 README.txt
06/27/2019  03:53 PM        16,603,996 tags.csv
               7 File(s)    875,588,784 bytes
               2 Dir(s)  189,154,648,064 bytes free

In [10]:
#Now lets try to load the movies file to pandas
movies = pd.read_csv('movielens\movies.csv', sep=',')
print(type(movies))
movies.head()

<class 'pandas.core.frame.DataFrame'>

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [27]:
#Load the tags file 
tags = pd.read_csv('movielens\\tags.csv')
print(tags.head())
print(tags.index)

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078
RangeIndex(start=0, stop=465564, step=1)

In [28]:
#Load ratings file 
ratings = pd.read_csv('movielens\\ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [29]:
#For current analysis we will remove the timestamps.

del tags['timestamp']
del ratings['timestamp']

### Data structures

In [19]:
#Fetch one column from the tags df
row_0 = tags.iloc[0]
row_0

userId              18
movieId           4141
tag        Mark Waters
Name: 0, dtype: object

In [20]:
#We can fetech any of the data from that data
row_0['userId']

18

In [31]:
print(tags.index)
print(row_0.index)

RangeIndex(start=0, stop=465564, step=1)
Index(['userId', 'movieId', 'tag'], dtype='object')

In [34]:
#Extract row 0, 11, and 2000 from tags df
tags.iloc[[0, 11, 2000]]

      userId  movieId                tag
0         18     4141        Mark Waters
11        65     1783      noir thriller
2000     910    68554  conspiracy theory


### Descriptive Statistics

In [36]:
ratings['rating'].describe()

count    2.000026e+07
mean     3.525529e+00
std      1.051989e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

In [37]:
#To describe the whole data
ratings.describe()

             userId       movieId        rating
count  2.000026e+07  2.000026e+07  2.000026e+07
mean   6.904587e+04  9.041567e+03  3.525529e+00
std    4.003863e+04  1.978948e+04  1.051989e+00
min    1.000000e+00  1.000000e+00  5.000000e-01
25%    3.439500e+04  9.020000e+02  3.000000e+00
50%    6.914100e+04  2.167000e+03  3.500000e+00
75%    1.036370e+05  4.770000e+03  4.000000e+00
max    1.384930e+05  1.312620e+05  5.000000e+00

In [38]:
#Get mean of ratings
ratings['rating'].mean()

3.5255285642993797

In [41]:
#Get the minimum value of the ratings
ratings['rating'].min()

0.5

In [42]:
#Get the maximum rating value
ratings['rating'].max()

5.0

In [48]:
len(ratings.index)

20000263

In [49]:
#Finding the standard deviation to know how speread they are from the mean
ratings['rating'].std()

1.051988919275684

In [50]:
#mode fucntion will give the most frequent value from the column
ratings['rating'].mode()

0    4.0
dtype: float64

In [51]:
#We can use "any" function to check values existed with our condtion
filter1 = ratings['rating'] > 5 #We are checking the rating gt 0
filter1.any() #As we are not having any rating more than file we are getting false

False

In [53]:
filter2 = ratings['rating'] < 3
filter2.any()

True

In [54]:
#Also we can check weather all are matching the condition.
filter3 = ratings['rating'] > 0 #Checking all the ratings are gt 0 or not
filter3.all()

True