## Pandas: Data Cleaning

#### Interpolation

In the mathematical field of numerical analysis, interpolation is a method of constructing new data points within the range of a discrete set of known data points

### Handling missing data

In [3]:
import pandas as pd
#Now lets try to load the movies file to pandas
movies = pd.read_csv('movielens\movies.csv', sep=',')
print(type(movies))
movies.head()

<class 'pandas.core.frame.DataFrame'>

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [11]:
#Load ratings file 
ratings = pd.read_csv('movielens\\ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [12]:
#Load the tags file 
tags = pd.read_csv('movielens\\tags.csv')
print(tags.head())
print(tags.index)

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078
RangeIndex(start=0, stop=465564, step=1)

In [13]:
#For current analysis we will remove the timestamps.

del tags['timestamp']
del ratings['timestamp']

In [5]:
movies.shape

(27278, 3)

In [6]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [8]:
#Checking any null row existed, As it is having three columns it will be  displaying results for all columns
movies.isnull().any()

movieId    False
title      False
genres     False
dtype: bool

In [14]:
#Check the null values for ratings
ratings.shape

(20000263, 3)

In [15]:
ratings.isnull().any()

userId     False
movieId    False
rating     False
dtype: bool

In [16]:
#Checking null values for tags
tags.isnull().any()

userId     False
movieId    False
tag         True
dtype: bool

* As we are having null values in the tags DF we will drop that row

In [18]:
tags.shape

(465564, 3)

In [19]:
#Now drop the null values
tags = tags.dropna()

In [20]:
tags.shape

(465548, 3)