## Pandas introduction

In [1]:
import pandas as pd

In [34]:
#Lets try to create a series
ser = pd.Series([33, 41, 45, 47, 57, 60], ['Vamsi', 'Blaji', 'Mahesh', 'Aravind', 'Naga', 'Siva'])
print(ser)
print(type(ser))

Vamsi      33
Blaji      41
Mahesh     45
Aravind    47
Naga       57
Siva       60
dtype: int64
<class 'pandas.core.series.Series'>

In [26]:
#We can get the data in multiple ways
print(ser['Naga'])
print('value in index 2 is: ', ser[2])
#Get the value from the index location
print(ser.loc['Siva'])
#Retrieve multiple values
print(ser[['Siva', 'Naga', 'Vamsi']])
#We can also retrieve the multiple values with the indexes
print(ser[[4,2,3,1]])
#We can also fetch the data with iloc
print(ser.iloc[1])
print(ser.iloc[[3, 2,1]])

57
value in index 2 is:  45
60
Siva     60
Naga     57
Vamsi    33
dtype: int64
Naga       57
Mahesh     45
Aravind    47
Blaji      41
dtype: int64
41
Aravind    47
Mahesh     45
Blaji      41
dtype: int64

In [30]:
#We can also check whether the index is available or not in the series
print('Siva' in ser)
print('Kumar' in ser)

True
False

In [33]:
#We can also use arthematic operations on the data
print(ser)
print(ser*2)

Vamsi      33
Blaji      41
Mahesh     45
Aravind    47
Naga       57
Siva       60
dtype: int64
Vamsi       66
Blaji       82
Mahesh      90
Aravind     94
Naga       114
Siva       120
dtype: int64

In [42]:
#Applying square function on the data
ser **2
ser

#We can also select the data to apply on to
print(ser[['Siva', 'Naga']]**2)
# mask = ser>55
# ser[mask]=100
# print(ser)

Siva    3600
Naga    3249
dtype: int64
Vamsi       33
Blaji       41
Mahesh      45
Aravind     47
Naga       100
Siva       100
dtype: int64